html,
body,
br,
hr,
div,
span,
a,
object,
iframe,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p, 
blockquote,
q,
address,
small,
big,
cite,
dfn,
ins,
del,
i,
em,
b,
strong,
sup,
sub,
strike,
pre,
code,
samp,
kbd,
var,
tt,
form,
fieldset,
legend,
label,
input,
textarea,
option,
figure,
.nobox {
   background: transparent;
   border: 0;
   font-size: 100%;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
}

div,
section,
article,
main,
aside,
header,
footer,
dialog,
figure,
figcaption,
hgroup {
   display: block;
}

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

blockquote, q {
   quotes: none;
}

br {
   height: 0;
}

ul, ol, dl {
   list-style: none;
}

table {
   border-spacing: 0;
   border-collapse: collapse;
}

td {
   text-align: left;
   font-weight: normal;
}

img {
   border: 0;
   border-style: none;
}

fieldset {
   border: 1px solid transparent;
}

input {
   font-family: 'Montserrat', sans-serif;
}

input[type=submit] {
   letter-spacing: .045em;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
   -webkit-appearance: none;
   transition: 300ms ease all;
}

input[type=text],
input[type=email],
textarea {
   letter-spacing: .045em;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   border-radius: 0;
   -webkit-appearance: none;
}

span {
   font-family: 'Montserrat', sans-serif;
}

button {
   font-family: 'Montserrat', sans-serif;
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
   outline: inherit;
}

select {
   -webkit-appearance: none;
   -webkit-border-radius: 0px;
}

html,
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}