$djtred: #da1333;
$djtblue: #213875;
$djtdblue: #0a0228;
$djtmblue: #1f3860;
$djtlblue: #4f67a6;
$djtdred: #a70101;
$djtdgrey: #202020;
$djtlgrey: #a6a5a5;
$djtgreen: #C6CA53;
$djtdred2: #ba1d1d;
$djtlred: #e92828;

$djtred75: rgba(218, 19, 51, .75);
$djtblue75: rgba(33, 56, 117, .75);
$djtdblue75: rgba(10, 2, 40, .75);
$djtmblue75: rgba(31, 56, 96, .75);
$djtlblue75: rgba(79, 103, 166, .75);
$djtdred75: rgba(167, 1, 1, .75);
$djtdgrey75: rgba(32, 32, 32, .75);
$djtlgrey75: rgba(166, 165, 165, .75);