.list {
   &.landing {
      .top-filters {
         position: relative;
         .line-slide {
            position: relative;
            bottom: -2px;
         }
         &:after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $djtdgrey;
         }
         .categories-mobile {
            display: none !important;
            .filter-sort {
               > span,
               > button,
               > a {
                  display: block;
                  padding: 10px 20px;
                  text-transform: uppercase;
                  font-size: 15px;
                  line-height: 15px;
                  letter-spacing: .2em;
                  font-weight: 500;
                  color: $djtdgrey;
               }
            }
         }
      }
      main {
         .search {
            display: flex;
            button {
               position: relative;
               width: 35px;
               height: 35px;
               svg {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  margin-top: 1.5px;
               }
               &[aria-expanded="true"] {
                  svg {
                     * {
                        fill: $djtred;
                     }
                  }
               }
            }
            form {
               &[data-hidden="true"] {
                  width: 0;
                  overflow: hidden;
               }
               input {
                  width: 195px;
                  height: 35px;
                  font-size: 15px;
                  letter-spacing: .1em;
                  color: $djtblue;
                  &::-webkit-search-decoration,
                  &::-webkit-search-cancel-button,
                  &::-webkit-search-results-button,
                  &::-webkit-search-results-decoration {
                     display: none;
                  }
               }
            }
         }
      }
      .pagination-container {
         li {
            display: flex;
            align-items: center;
            &.active {
               button {
                  font-weight: 700;
                  color: $djtdgrey !important;
               }
            }
         }
         button {
            font-weight: 500;
            font-size: 15px;
            line-height: 15px;
            margin: 0 25px;
            color: $djtdgrey;
            &.disabled {
               display: none;
            }
            &:hover {
               color: $djtred;
            }
            &.prevBtn,
            &.nextBtn {
               background-image: url(/assets/images/icons/carrot_blue.svg);
               width: 20px;
               height: 20px;
               display: block;
               text-indent: -9999px;
               background-size: 100%;
               background-repeat: no-repeat;
               text-indent: -9999px;
               opacity: .5;
               transition: 300ms ease all;
               &:hover {
                  opacity: 1;
               }
            }
            &.prevBtn {
               margin: 0 25px 0 15px;
            }
            &.nextBtn {
               margin: 0 15px 0 25px;
            }
            &.firstBtn,
            &.lastBtn {
               background-image: url(/assets/images/icons/carrot_blue_double.svg);
               width: 20px;
               height: 20px;
               display: block;
               text-indent: -9999px;
               background-size: 100%;
               background-repeat: no-repeat;
               text-indent: -9999px;
               margin: 0;
               opacity: .5;
               transition: 300ms ease all;
               &:hover {
                  opacity: 1;
               }
            }
            &.prevBtn,
            &.firstBtn {
               transform: rotate(180deg);
            }
         }
      }
      .pagination-record {
         * {
            color: #888 !important;
            font-size: 13px;
            opacity: .75;
         }
      }
      .list {
         .item {
            display: block;
            padding: 3rem 0;
            border-bottom: 1px solid #e6e7e8;
            .title-lrg-5 {
               transition: 300ms ease all;
            }
            &.d-flex {
               .text {
                  width: 78%;
               }
            }
            .image {
               width: 22%;
               margin-right: 3rem;
               position: relative;
               &:after {
                  display: block;
                  content: '';
                  width: 100%;
                  padding-top: 65%;
               }
               .play {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  .border {
                     stroke-width: 4px;
                  }
               }
            }
            &:hover,
            &:focus {
               .title-lrg-5 {
                  color: $djtred !important;
               }
            }
         }
      }
   }
   &.detail {
      .back-link {
         font-size: 16px;
         letter-spacing: .2em;
         text-transform: uppercase;
         display: flex;
         color: $djtdgrey;
         align-items: center;
         font-weight: 500;
         &:before {
            display: block;
            content: '';
            background-image: url(/assets/images/icons/arw_blue.svg);
            margin-right: 10px;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 24px;
            height: 24px;
            transform: rotate(-180deg);
         }
         &:hover,
         &:focus {
            color: $djtblue;
         }
      }
      .info {
         .share {
            li {
               list-style: none;
               margin-right: 25px;
               &:last-child {
                  margin-right: 0;
               }
               a {
                  svg {
                     .st0 {
                        transition: 300ms ease all;
                     }
                  }
                  &:hover {
                     svg {
                        .st0 {
                           fill: $djtdblue;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 960px){
   .list {
      &.landing {
         .list {
            .item {
               &.d-flex {
                  .text {
                     width: 60%;
                  }
               }
               .image {
                  width: 40%;
                  margin-right: 1.5rem;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 677px){

   .list {
      &.landing {
         main {
            .search {
               width: 100%;
               border-bottom: 2px solid $djtlblue;
               button {
                  pointer-events: none;
               }
               form {
                  &[data-hidden="true"] {
                     width: auto;
                  }
                  input {
                     font-size: 15px;
                     letter-spacing: 0;
                  }
               }
            }
         }
      }
   }

}

@media screen and (max-width: 500px){
   .list {
      &.landing {
         .list {
            .item {
               &.d-flex {
                  flex-wrap: wrap;
                  .text {
                     width: 100%;
                     padding-top: 1.5rem;
                  }
               }
               .image {
                  width: 100%;
                  margin-right: 0;
                  &:after {
                     padding-top: 56.25%;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 415px){

   .list {
      &.landing {
         .list {
            .item {
               .title-lrg-5 {
                  font-size: 1.7rem;
                  line-height: 2.25rem;
               }
            }
         }
      }
      &.detail {
         .back-link {
            font-size: 13px;
            line-height: 13px;
         }
         .info {
            .title-lrg-5 {
               font-size: 1.7rem;
               line-height: 2.25rem;
            }
         }
      }
   }

}